body {
	background-image: url("mother_base_ih.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
	font-family:Verdana,sans-serif;
	font-size:15px;
	line-height: 1.5;
	margin-top: 10px;
	margin-bottom: 10px;	
	margin-right: auto;
	margin-left: auto;
	width: 70%;
}
#menu {
	background-color: #F7F7F7;
	border-radius: 1px;
	opacity: 0.9;
}
#title,#menuTitle {
	border-radius: 1px;
	padding-top: 5px;
    padding-right: 9px;
    padding-bottom: 5px;
    padding-left: 9px;
   	margin-bottom: 4px;	
}
#menuTitle {
	background-color: #4CAF50;    
	color: white;
}
#menuItem,#itemHelp {
    padding-top: 3px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-left: 6px;
}
#menuHelp,#itemHelp {
    margin-left: 20px;
}
#menuHelp {
    color: #151530;
}
#itemHelp {
    color: #1B223A;
}
a {
	color: #0A2821;
}
